<h1>New Collection</h1>

<%= form_with(model: @collection, local: true) do |form| %>

  <%- @collection.fields.each do |field_name, field_value| %>
    <p>
      <%= form.label field_name %><br>
      <%= form.text_field field_name %>
    </p>
  <%- end  %>

  <%= render 'shared/errors', resource: @collection if @collection.errors.any? %>

  <div class="actions">
    <%= form.submit "Create Collection" %>
  </div>
<% end %>

<%= link_to 'Back', collections_path %>
