<%= form_for(work_form.model, url: work_form.form_path) do |form| %>

  <%- work_form.fields.each do |metadata_field| %>
    <% if metadata_field.requirement_designation == 'required' %>
      <%= form.label metadata_field.label, metadata_field.display_name do %>
        <%= metadata_field.label.titleize %><span class="required no_bold"> required</span>
      <% end %>
      <%= form.text_field metadata_field.label, :required => true, 'aria-required' => true %>
    <% else %>
      <%= form.label metadata_field.label, metadata_field.display_name %>
      <%= form.text_field metadata_field.label %>
    <% end %>

  <%- end  %>

  <%= form.hidden_field :work_type, value: work_form.work_type.id %>

  <%= form.hidden_field :file, value: work_form.model.cached_file_data %>

  <%= form.label :file, class: 'sr-only' %>
  <%= form.file_field :file %>

  <%= render 'errors', work: work_form if work_form.errors.any? %>

  <div class="actions">
    <%= form.submit work_form.submit_text %>
  </div>
<% end %>
