<%= form_for(work_form.model, url: work_form.form_path) do |form| %>

  <%= render 'shared/form_fields', resource: work_form, form: form %>

  <%= form.hidden_field :work_type_id, value: work_form.work_type_id %>
  <%= form.hidden_field :optimistic_lock_token, multiple: true, value: work_form.optimistic_lock_token %>

  <% if form.object.new_record %>
    <%= form.hidden_field :file, value: work_form.model.cached_file_data %>
    <%= form.label :file, t('cho.form.file_selection') %>
    <%= form.file_field :file %>
  <% end %>

  <%= render 'errors', work: work_form if work_form.errors.any? %>

  <div class="actions pt-4">
    <%= form.submit work_form.submit_text, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
