<h1>Editing <%= @work.work_type.titleize %></h1>

<%= form_with(model: @work, url: work_path(@work)) do |form| %>

  <%- @work.fields.except('work_type').each do |field_name, field_value| %>
    <p>
      <%= form.label field_name %><br>
      <%= form.text_field field_name %>
    </p>
  <%- end  %>

  <%= render 'errors', work: @work if @work.errors.any? %>

  <div class="actions">
    <%= form.submit "Update #{@work.work_type.titleize}" %>
  </div>
<% end %>

<%= link_to 'Show', work_path(@work) %> |
<%= link_to 'Back', works_path %> |
<%= link_to "Delete #{@work.work_type.titleize}", work_path(@work),
            data: {:confirm => 'Are you sure?'}, :method => :delete %>
