<h1><%= t('cho.work.edit.heading') %></h1>
<h2><%= @work.title.first %></h2>

<%= render partial: 'form', locals: { work_form: @work } %>
<%= render 'shared/form_delete', resource: @work %>
<%= link_to t('cho.work.edit.show_link'), polymorphic_path([:solr_document], id: @work.id) %>
