<%= form_with(model: agent, local: true) do |form| %>
  <% if agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agent.errors.count, 'error') %> prohibited this agent from being saved:</h2>

      <ul>
      <% agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :given_name %>
    <%= form.text_field :given_name, id: :agent_given_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :agent_surname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
