<h1><%= t('cho.agent.index.heading') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('cho.agent.index.given_name') %></th>
      <th><%= t('cho.agent.index.surname') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.given_name %></td>
        <td><%= agent.surname %></td>
        <td><%= link_to t('cho.agent.index.show'), agent %></td>
        <td><%= link_to t('cho.agent.index.edit'), edit_agent_resource_path(agent) %></td>
        <td>
          <%= link_to t('cho.agent.index.destroy'), agent,
              method: :delete, data: { confirm: t('cho.agent.index.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t('cho.agent.index.download'), agent_resources_path(format: :csv) %>
<%= link_to t('cho.agent.index.new'), new_agent_resource_path %>
