<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('cho.agent.show.given_name') %></strong>
  <%= @agent.given_name %>
</p>

<p>
  <strong><%= t('cho.agent.show.surname') %></strong>
  <%= @agent.surname %>
</p>

<% if can? :manage, @agent %>
  <%= link_to t('cho.agent.show.edit'), edit_agent_resource_path(@agent) %> |
<% end %>
<%= link_to t('cho.agent.show.back'), agent_resources_path %>
