<%# container for all documents in index list view -%>
<div id="documents" class="documents-<%= document_index_view_type %>">
  <%= form_for(:delete, url: batch_delete_path, method: :post) do |form| %>
    Select resources to delete:
    <ol class="select-resources">
      <% documents.each do |document| %>
        <li>
          <%= link_to_document document, document_show_link_field(document) %>
          [ <%= form.check_box :ids, { multiple: true }, document.id, nil %>
             <%= label_tag('delete_ids_' + document.id) do %>
               Delete <span class="sr-only"><%= document.title_data_dictionary_field.first %></span>
          <% end %> ]
        </li>
      <% end %>
      <%= form.submit t('cho.batch.delete.submit') %>
    </ol>
  <% end %>
</div>
