<h1><%= t('cho.batch.delete.heading') %></h1>

<p><%= t('cho.batch.delete.message') %></p>

<%= form_for(:delete, url: batch_delete_path, method: :delete) do |form| %>
  <ul>
    <% @resources.each do |resource| %>
      <li>
        <%= resource.title.first %>
        <%= form.hidden_field :ids, multiple: true, value: resource.id %>
      </li>
    <% end %>
  </ul>
  <%= form.submit t('cho.batch.delete.continue') %>
  <%= link_to t('cho.batch.delete.cancel'), :back %>
<% end %>
