<div id="home-browse-by" class="col-12 col-sm-6 col-lg-4">
  <h2 id="home-browse-by-title" class="bg-white p-1"><%= t('cho.home.browse_by.title') %></h2>
  <div class="row">
    <div class="col-12 col-sm-6">
      <figure class="home-figure">
        <%= image_tag('1861map_36_extralarge.jpg', class: 'img-fluid img-thumbnail') %>
        <figcaption><%= t('cho.home.browse_by.resource') %></figcaption>
      </figure>
    </div>
    <div class="col-12 col-sm-6">
      <figure class="home-figure">
        <%= image_tag('warposters_255_full.jpg', class: 'img-fluid img-thumbnail') %>
        <figcaption><%= t('cho.home.browse_by.collection') %></figcaption>
      </figure>
    </div>
  </div>
</div>
