<%= form_with(model: metadata_application_profile_field, local: true) do |form| %>
  <% if metadata_application_profile_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metadata_application_profile_field.errors.count, "error") %> prohibited this metadata_field from being saved:</h2>

      <ul>
      <% metadata_application_profile_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :metadata_field_label %>
  </div>

  <div class="field">
    <%= form.label :field_type %>
    <%= form.text_field :field_type, id: :metadata_field_field_type %>
  </div>

  <div class="field">
    <%= form.label :requirement_designation %>
    <%= form.text_field :requirement_designation, id: :metadata_field_requirement_designation %>
  </div>

  <div class="field">
    <%= form.label :validation %>
    <%= form.text_field :validation, id: :metadata_field_validation %>
  </div>

  <div class="field">
    <%= form.label :multiple %>
    <%= form.check_box :multiple, id: :metadata_field_multiple %>
  </div>

  <div class="field">
    <%= form.label :controlled_vocabulary %>
    <%= form.text_field :controlled_vocabulary, id: :metadata_field_controlled_vocabulary %>
  </div>

  <div class="field">
    <%= form.label :default_value %>
    <%= form.text_field :default_value, id: :metadata_field_default_value %>
  </div>

  <div class="field">
    <%= form.label :display_name %>
    <%= form.text_field :display_name, id: :metadata_field_display_name %>
  </div>

  <div class="field">
    <%= form.label :display_transformation %>
    <%= form.text_field :display_transformation, id: :metadata_field_display_transformation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
