<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @metadata_application_profile_field.label %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @metadata_application_profile_field.field_type %>
</p>

<p>
  <strong>Requirement designation:</strong>
  <%= @metadata_application_profile_field.requirement_designation %>
</p>

<p>
  <strong>Validation:</strong>
  <%= @metadata_application_profile_field.validation %>
</p>

<p>
  <strong>Multiple:</strong>
  <%= @metadata_application_profile_field.multiple %>
</p>

<p>
  <strong>Controlled vocabulary:</strong>
  <%= @metadata_application_profile_field.controlled_vocabulary %>
</p>

<p>
  <strong>Default value:</strong>
  <%= @metadata_application_profile_field.default_value %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @metadata_application_profile_field.display_name %>
</p>

<p>
  <strong>Display transformation:</strong>
  <%= @metadata_application_profile_field.display_transformation %>
</p>

<%= link_to 'Edit', edit_metadata_application_profile_field_path(@metadata_application_profile_field) %> |
<%= link_to 'Back', metadata_application_profile_fields_path %>
