<h1><%= t('cho.csv.agent.create.heading') %></h1>

<%= form_for(@csv_file, url: csv_agents_validate_path) do |form| %>

  <%= form.hidden_field :file, value: @csv_file.cached_file_data %>
  <%= label_tag(:agent_import_csv_file_file) do %>
    <%= t('cho.csv.agent.create.description') %>
  <% end %>
  <%= form.file_field :file %>

  <div class="actions">
    <%= form.submit t('cho.csv.agent.create.submit') %>
  </div>
<% end %>
