<h1><%= t('cho.csv.agent.dry_run.heading') %></h1>

<h2><%= t('cho.csv.agent.dry_run.csv_status') %></h2>

<% if @presenter.update? %>
  <p><%= t('cho.csv.agent.dry_run.update_description') %></p>
<% else %>
  <p><%= t('cho.csv.agent.dry_run.create_description') %></p>
<% end %>

<p><%= t('cho.csv.agent.dry_run.error_count_message', count: @presenter.error_count) %></p>

<table class="table table-responsive table-striped">
  <thead>
  <tr>
    <th><%= t('cho.csv.agent.dry_run.preview_table.given_name') %></th>
    <th><%= t('cho.csv.agent.dry_run.preview_table.surname') %></th>
    <th><%= t('cho.csv.agent.dry_run.preview_table.status') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'dry_run_result', collection: @presenter %>
  </tbody>
</table>

<%= form_tag({ controller: 'csv', action: 'import' }, class: 'form-inline') do %>
  <%= hidden_field_tag(:file_name, @file_name) %>
  <%= hidden_field_tag(:update, @presenter.update?) %>
  <%= submit_tag(t('cho.csv.agent.dry_run.submit'), disabled: @presenter.invalid?) %>
  <%= link_to t('cho.csv.agent.dry_run.cancel'), :back, class: 'btn btn-link' %>
<% end %>
