<h1><%= t('cho.csv.create.heading') %></h1>

<p><%= t('cho.csv.create.description') %></p>

<%= form_for(@csv_file, url: csv_validate_path) do |form| %>

  <%= form.hidden_field :file, value: @csv_file.cached_file_data %>
  <%= form.file_field :file %>

  <div class="actions">
    <%= form.submit t('cho.csv.create.submit') %>
  </div>
<% end %>
