<%= form_for(@collection.model) do |form| %>

  <fieldset class="basic_metadata">
    <legend><%= t('cho.form.metadata') %></legend>
    <%= render 'shared/form_fields', resource: @collection, form: form %>
  </fieldset>

  <fieldset>
    <legend><%= t('cho.form.workflow') %></legend>
    <%= form.label :workflow_default do %>
      <%= form.radio_button :workflow, 'default' %> <%= t('cho.field_label.default') %>
    <% end %>

    <%= form.label :workflow_mediated do %>
      <%= form.radio_button :workflow, 'mediated' %> <%= t('cho.field_label.mediated') %>
    <% end %>
  </fieldset>

  <%= render '/work/submissions/errors', work: collection if collection.errors.any? %>

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
