<footer class="footer bg-dark">
  <a href="/" class="footer-logo"><%= t('cho.footer.logo') %></a>
  <p class="footer-service"><%= t('cho.footer.service') %></p>
  <% if Git.revision %>
    <%= link_to("https://github.com/psu-libraries/cho/commit/#{Git.revision}") do %>
      <%= t('cho.footer.revision') %> <%= Git.revision %>
    <% end %>
  <% end %>
</footer>
