<%- resource.input_fields(form).each do |input| %>
  <%= input.label do %>
    <%= input.display_label %>
    <% if input.required? %>
      <span class="required no-bold"> required</span>
    <% end %>
  <% end %>

  <%= input.field %>

  <% if input.metadata_field.controlled_vocabulary == "cho_collections" %>
    <datalist id="<%= input.metadata_field.label %>">
      <% ControlledVocabulary::Collections.list.each do |collection| %>
        <option value="<%= collection.id %>"><%= collection.title %></option>
      <% end %>
    </datalist>
  <% end %>
<%- end %>
