<% content_for(:head) do %>
  <%= stylesheet_pack_tag 'form_fields' %>
<% end %>

<%- resource.input_fields(form).each do |input_field| %>
  <%= content_tag :div, class: 'form-group', data: input_field.data_attributes do -%>
    <%= form.label input_field.label do %>
      <%= input_field.display_label %>
      <% if input_field.required? %>
        <span class="required no-bold"> <%= t('cho.form.required') %></span>
      <% end %>
    <% end %>

    <%= render "/shared/input_partials/#{input_field.partial}", field: input_field, form: form %>
  <%- end %>
<%- end %>
