<div class="banner <%= container_classes %>" role="banner">
  <div class="row">
    <div class="col-12 col-sm-5 col-md-4">
      <%= link_to(image_tag('psul_mark_header.png', height: 60, alt: t('cho.header_links.alt_banner_image')), 'https://libraries.psu.edu/', class: 'psul') %>
    </div>
    <div class="col-6 col-sm-7 col-md-5">
      <%= link_to application_name, root_path, class: 'cho-banner' %>
    </div>
    <div class="col-6 col-sm-12 col-md-3">
      <%= render '/user_profile_links' %>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand bg-cho topbar" role="navigation">
  <div class="<%= container_classes %>">
    <div class="justify-content-md-end" id="user-util-collapse">
      <%= render '/user_util_links' %>
    </div>
  </div>
</nav>
