<%- field.values.each do |value| %>

  <div class="container ff-group">
    <div class="row">
      <div class="col-md-12 col-lg-3">
        <%= label_tag :role %>
        <%= text_field_tag "#{form.object_name}[creator][][role]", value.fetch(:role, nil),
                           field.options.merge!(list: "#{field.label}_role") %>
        <datalist id="<%= "#{field.label}_role" %>">
          <% field.datalist(component: :roles).each do |item| %>
            <option value="<%= item %>"><%= item.label %></option>
          <% end %>
        </datalist>
      </div>

      <div class="col-md-12 col-lg-3">
        <%= label_tag :agent %>
        <%= text_field_tag "#{form.object_name}[creator][][agent]", value.fetch(:agent, nil),
                           field.options.merge!(list: "#{field.label}_agent") %>
        <datalist id="<%= "#{field.label}_agent" %>">
          <% field.datalist(component: :agents).each do |item| %>
            <option value="<%= item.id %>"><%= item %></option>
          <% end %>
        </datalist>
      </div>
    </div>
  </div>

<% end %>
