<%- field.values.each do |value| %>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= t('cho.field_label.name_and_role') %></span>
    </div>

    <%= text_field_tag "#{form.object_name}[creator][][agent]", value.fetch(:agent, nil),
                       field.options.merge!(list: "#{field.label}_agent") %>
    <datalist id="<%= "#{field.label}_agent" %>">
      <% field.datalist(component: :agents).each do |item| %>
        <option value="<%= item.id %>"><%= item %></option>
      <% end %>
    </datalist>

    <%= text_field_tag "#{form.object_name}[creator][][role]", value.fetch(:role, nil),
                       field.options.merge!(list: "#{field.label}_role") %>
    <datalist id="<%= "#{field.label}_role" %>">
      <% field.datalist(component: :roles).each do |item| %>
        <option value="<%= item %>"><%= item.label %></option>
      <% end %>
    </datalist>

  </div>

<% end %>
