<%= content_tag :div, class: 'input-group' do %>
  <div class="input-group-prepend">
    <span class="input-group-text"></span>
  </div>
  <%= form.text_field field.label, field.options.merge!(list: field.label, data: { controller: 'datalist' }) %>
  <datalist id="<%= field.label %>">
    <% field.datalist.each do |item| %>
      <option value="<%= item.id %>"><%= item.title.first %></option>
    <% end %>
  </datalist>
<% end %>
