<div id="members" class="members-<%= document_index_view_type %>">
  <table>
    <thead>
      <tr>
        <td scope="col"><%= t('cho.collection.members.title') %></td>
        <td scope="col"><%= t('cho.collection.members.date_created') %></td>
      </tr>
    </thead>
    <tbody>
      <% documents.each do |document| %>
        <% member_presenter = show_presenter(document) %>
        <tr>
          <td><%= link_to_document document, document_show_link_field(document) %></td>
          <td><%= member_presenter.field_value('created_at_dtsi') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
