<%# Do the two column thing here %>
<p><%= t('cho.file_set.show.part_of') %> <%= link_to @document.work_title, solr_document_path(@document.work) %></p>
<%= render partial: 'show', locals: { document: @document } %>

<%# write method to grab the files from the file set %>
<% unless @document.files.empty? %>
  <h2><%= t('cho.file_set.show.heading') %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><%= t('cho.file_set.show.table.type') %></th>
        <th scope="col"><%= t('cho.file_set.show.table.size') %></th>
        <th scope="col"><%= t('cho.file_set.show.table.file') %></th>
      </tr>
    </thead>
    <tbody>
    <%- @document.files.each do |file| %>
      <tr>
        <td><%= file.mime_type.first.friendly || file.mime_type.first.extensions.first %></td>
        <td class="text-nowrap"><%= number_to_human_size file.size %></td>
        <td>
          <%= link_to file.original_filename,
                      download_path(@document.id, use_type: file.use.first.fragment),
                      data: { turbolinks: false },
                      aria: { label: t('cho.file_set.download.aria_label', name: file.original_filename) } %>
        </td>
      </tr>
    <%- end %>
    </tbody>
  </table>
<% end %>
