<%# Overriding Blacklight to render edit link %>

<% if current_search_session %>
  <div id="appliedParams" class="clearfix constraints-container ml-3">
    <%= link_back_to_catalog(label: 'Back to Search Results', class: 'btn btn-outline-secondary') %>
    <%= render 'previous_next_doc' if @search_context %>
  </div>
<% end %>

<%# Use Bootstrap columns to position the thumbnail on the left and the content partials on the right %>
<div class="container mt-4">
  <div class="row">
    <% if presenter(@document).thumbnail.exists? %>
      <div class="col-xs-12 col-md-4">
        <%= render 'thumbnail', document: @document, document_counter: 0 %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= render_document_main_content_partial %>
      </div>
    <% else %>
      <div class="col-xs-12">
        <%= render_document_main_content_partial %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to(t('cho.catalog.edit'), edit_cho_resource_path) if can? :edit, @document %>

<% content_for(:sidebar) do %>
  <%= render_document_sidebar_partial %>
<% end %>
