<p class="notice"><dd><%= notice %></dd></p>

<div class="clearleft">
  <dl class="data-dictionary">
    <dt>Label</dt>
    <dd><%= @data_dictionary_field.label %></dd>

    <dt>Field Type</dt>
    <dd><%= @data_dictionary_field.field_type %></dd>

    <dt>Requirement Designation</dt>
    <dd><%= @data_dictionary_field.requirement_designation %></dd>

    <dt>Core Field</dt>
    <dd><%= @data_dictionary_field.core_field %></dd>

    <dt>Validation</dt>
    <dd><%= @data_dictionary_field.validation %></dd>

    <dt>Multiple</dt>
    <dd><%= @data_dictionary_field.multiple %></dd>

    <dt>Controlled Vocabulary</dt>
    <dd><%= @data_dictionary_field.controlled_vocabulary %></dd>

    <dt>Default Value</dt>
    <dd><%= @data_dictionary_field.default_value %></dd>

    <dt>Display Name</dt>
    <dd><%= @data_dictionary_field.display_name %></dd>

    <dt>Display Transformation</dt>
    <dd><%= @data_dictionary_field.display_transformation %></dd>

    <dt>Help Text</dt>
    <dd><%= @data_dictionary_field.help_text %></dd>

    <dt>Index Type</dt>
    <dd><%= @data_dictionary_field.index_type %></dd>
  </dl>
</div>
