<h1>Editing <%= @work.work_type.titleize %></h1>

<%= form_with(model: @work, local: true) do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <%= render 'errors', work: @work if @work.errors.any? %>

  <div class="actions">
    <%= form.submit "Update #{@work.work_type.titleize}" %>
  </div>
<% end %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', work_objects_path %>
