<h1>New Work</h1>

<%= form_with(model: @work, local: true) do |form| %>

  <%- @work.fields.except('work_type').each do |field_name, field_value| %>
    <p>
      <%= form.label field_name %><br>
      <%= form.text_field field_name %>
    </p>
  <%- end  %>

  <p>
    <%= form.label :work_type %><br>
    <%= form.select :work_type, ["Generic", "Still Image", "Map", "Document", "Audio/Visual"] %>
  </p>

  <%= render 'errors', work: @work if @work.errors.any? %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', work_objects_path %>
