<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <%= t('cho.header_links.manage') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t('cho.header_links.select'), search_select_path, class: 'dropdown-item' %></li>
    <li><%= link_to t('cho.header_links.data_dictionary'), data_dictionary_fields_path, class: 'dropdown-item' %></li>
    <li><%= link_to t('cho.header_links.work.csv_create'), csv_works_create_path, class: 'dropdown-item' %></li>
    <li><%= link_to t('cho.header_links.work.csv_update'), csv_works_update_path, class: 'dropdown-item' %></li>
    <div class="dropdown-divider"></div>
    <li><%= link_to t('cho.header_links.agent.list'), agent_resources_path, class: 'dropdown-item' %></li>
    <li>
      <%= link_to t('cho.header_links.agent.csv_create'), csv_agents_create_path, class: 'dropdown-item' %>
    </li>
    <li>
      <%= link_to t('cho.header_links.agent.csv_update'), csv_agents_update_path, class: 'dropdown-item' %>
    </li>
  </ul>
</li>
