<div class="navbar-right">
  <ul class="nav navbar-nav">
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>
    <%= render '/collection/nav' %>
    <%= render '/work/submissions/nav' %>
  </ul>

  <ul class="nav navbar-nav">
    <% if current_user %>
      <li>
        <%= link_to t('blacklight.header_links.logout'), devise_remote.destroy_user_session_path %>
      </li>
    <% else %>
      <li>
        <%= link_to t('blacklight.header_links.login'), devise_remote.new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
