<div class="navbar-right">
  <ul class="nav navbar-nav">
    <%= render_nav_actions do |config, action| %>
      <li><%= action %></li>
    <% end %>
    <% if can? current_user, :manage %>
      <%= render '/manage' %>
      <%= render '/collection/nav' %>
      <%= render '/work/submissions/nav' %>
    <% end %>
    <li>
      <% if current_user %>

        <%= link_to t('blacklight.header_links.logout'), devise_remote.destroy_user_session_path,
                    class: 'nav-link' %>
      <% else %>
        <%= link_to t('blacklight.header_links.login'), devise_remote.new_user_session_path,
                    class: 'nav-link' %>
      <% end %>
    </li>
  </ul>
</div>
