<!DOCTYPE html>
<html lang="en" class="no-js">
<%= render partial: 'shared/head_content' %>
<body class="<%= render_body_class %>">
<div class="skip">
  <a href="#maincontainer">Skip to main content</a>
</div>

<%= render partial: 'shared/header_navbar' %>

<main id="maincontainer" class="<%= container_classes %> homepage">
  <%= content_for(:container_header) %>

  <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

  <%= content_for?(:content) ? yield(:content) : yield %>
</main>

<%= render partial: 'shared/footer' %>
<%= render partial: 'shared/modal' %>
</body>
</html>
